<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p class="copyright text-muted small">{{ site.copyright }}</p>
            </div>
            
            <div>
                    <ul>
                        <li>
                            <a href="https://github.com/codetract">
                                <i class="small fa fa-githubAdBlock"></i>
                            </a>&nbsp
                            <a href="https://www.reddit.com/user/codetractio">
                                <i class="small fa fa-redditAdBlock"></i>
                            </a>&nbsp
                            <a href="https://medium.com/@codetractio">
                                <i class="small fa fa-mediumAdBlock"></i>
                            </a>&nbsp
                            <a href="https://twitter.com/codetractio">
                                <i class="small fa fa-twitterAdBlock"></i>
                            </a>
                        </li>
                    </ul>
            </div>
            
            
        </div>
    </div>
</footer>
