<!-- Footer -->
<footer>
    <div class="social-buttons" style="text-align: center;">      
		<div>
			<ul class="list-inline">
				<li>
					<a href="https://github.com/dltasolutions">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-github fa-stack-1x fa-inverse"></i>
						</span>
					</a>
				</li>
				<li>
					<a href="">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
						</span>
					</a>
				</li>
				<li>
					<a href="">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
						</span>
					</a>
          		</li>
			</ul>
		</div>
	</div>
	<div class="copyright" style="text-align: center;"> 
		<div>
			<p class="copyright text-muted small">{{ site.copyright }}</p>
		</div>
		<!--
		<div style="font-size: 10px;">
			<p class="copyright text-muted small">{{ site.credits }}</p>
		</div>
		-->
	</div>
</footer>