---
layout: default
---
<!-- Header -->

{% if page.background %}
<div class="intro-header" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
<div class="intro-header" style="background-color: black">
{% endif %}
	<div class="container">
		<div class="row">
			<div>
				<div class="intro-message">
					<h2 class="">{{ page.title }}</h2>
					<span class="meta">Publié par <a href="#">{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}</a>, 
					&nbsp{{ page.date | date: '%B %d, %Y' }}</span>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container -->
</div>

<!-- /.intro-header letter-spacing: 2px;-->

<div class="content-section-b">
	<div class="container">
    	<div style="text-align: left;font-size: 16px;font-weight: 400;line-height: 25px;">
			{{ content }}
		</div>
	</div>
</div>
